<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario asignado</title>
</head>

<body style="font-family: Arial; background:#f3f4f6; padding:40px;">

    <div style="max-width:600px; background:white; margin:auto; padding:40px; border-radius:12px;">

        <h1 style="color:#002E42;">
            GestiónPharma
        </h1>

        <p>
            Hola, <strong>{{fullName}}</strong>
        </p>

        <p>
            Se te ha asignado un nuevo formulario:
        </p>

        <div style="background:#f8fafc; padding:20px; border-radius:8px;">
            <strong>{{formName}}</strong>
        </div>

        <p style="margin-top:30px;">
            <p>
                Responder formulario en: formLink.com
            </p>
        </p>

    </div>

</body>

</html>